@model x265Com.Models.WatchFolderModel
@{
    ViewBag.Title = "Watch Folder";
}
<!--border: 1px solid black;-->
<style>    
    table, th, td {        
        padding: 5px;
    }

    table {
        border-spacing: 5px;
    }
</style>

<div class="jumbotron">
    <h1>WatchFolder</h1>
</div>
<h2>@Model.FolderName</h2>
<div>
    <table>
        <tr>
            <th>File Name</th>
            <th>File Type</th>
            <th>Length</th>
        </tr>
        @foreach (x265Com.Models.FileModel _File in Model.FileModels)
        {
            <tr>
                <td>@_File.FileName</td>
                <td>@_File.FileType</td>
                <td>@_File.FileLength</td>
            </tr>
        }
    </table>

</div>