@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" type="text/css" href="~/Content/About.css" />
<div class="jumbotron">
    <h1>A propos : x265Com</h1>
</div>
<h2>x265Com est le résultat d'un projet de fin d'année.</h2>

<p>Le projet a été réalisé avec le framework Microsoft MVC ASP.NET, pour en savoir plus rendez vous sur <a href="https://openclassrooms.com/courses/apprendre-asp-net-mvc">https://openclassrooms.com/courses/apprendre-asp-net-mvc</a></p>
<ul>
    <li>Développeur C# : Victor Mauraud</li>
    <li>Développeur HTML et CSS : Lucas RITTIE</li>
</ul>

<p>Remerciement : <ul class="remerciement">
                  <li>Git pour l'intégration avec Visual Studio qui facilite grandement le travail en équipe</li>
                  <li>GitHub qui nous a permis de mettre en place un repository en ligne pour partager notre travail</li>
                  <li>Visual Studio 2015 Community pour ses outils de développements extrèmements puissants</li>
</ul>
</p>
