@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>x265Com</h1>
    <p class="lead">x265Com is an online HEVC encoder</p>
</div>

<!--#region Drop Zone  -->
<style type="text/css">
    #dropZone {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>
<script type="text/javascript">
    $('#dropZone').filedrop({
            url: '@Url.Action("UploadFiles")',
            paramname: 'files',
            maxFiles: 5,
            dragOver: function () {
                $('#dropZone').css('background', 'blue');
            },
            dragLeave: function () {
                $('#dropZone').css('background', 'gray');
            },
            drop: function () {
                $('#dropZone').css('background', 'gray');
            },
            afterAll: function () {
                $('#dropZone').html('The file(s) have been uploaded successfully!');
            },
            uploadFinished: function (i, file, response, time) {
                $('#uploadResult').append('<li>' + file.name + '</li>');
            }
        });

</script>
<h2>File Drag & Drop Upload Demo</h2>
<div id="dropZone">Drop your files here</div>
<br />
Uploaded Files:
<ul id="uploadResult"></ul>
<!--#endregion -->


   <form name= "ConversionForm" method = "post">
			
	   <label> Cadence Image
	    <input type="range" id="cadenceImage" value="15" max="300" min="1" step="1"> 
	   </label> </br> </br>
	   
	   <label> Definition Image
	   	<select id="defImage"> </br>
	   		<option value="0">UHD - 3840*2160</option> 
	   		<option value="1" selected>HD - 1920*1080</option>
	   		<option value="2">HD - 1440*1080</option>
	   		<option value="3">1270*720</option>
	   		<option value="3">Proxy - 480p</option>
	   		<option value="3">Proxy - 360p</option>
	   		<option value="3">Proxy - 240p</option>
	   		<option value="3">Proxy - 144p</option>
	   	</select> 
	   </label> </br> </br>
	   
	   <label> Taille CTU
	   	<select id="selectCTU"> </br>
	   		<option value="0">64*64</option> 
	   		<option value="1" selected>32*32</option>
	   		<option value="2">16*16</option>
	   		<option value="3">8*8</option>
	   	</select> 
	   </label> </br> </br>
	   
	   <label> Conteneur
	   	<select id="selectConteneur"> </br>
	   		<option value="0">.mov</option> 
	   		<option value="1" selected>.mxf</option>
	   		<option value="2">.mp4</option>
	   	</select> 
	   </label> </br> </br>
	   
	   <label> Video Codec
	   	<select id="selectVideoCodec"> </br>
	   		<option value="0">HEVC</option> 
	   		<option value="1" selected>h264</option>
	   		<option value="2">Mpeg2</option>
	   		<option value="3">vp9</option>
	   	</select> 
	   </label> </br> </br>
	   
	   <label> Debit Video
	   	<input type="range" id="debitVideo" value="15" max="300" min="1" step="1"> 
	   </label> </br> </br>
	   
	   <label> Taille GOP
	   	<input type="range" id="tailleGop" value="15" max="300" min="1" step="1"> 
	   </label> </br> </br>
	   
	   <label> Wpp
	   	<input type="checkbox" id="Wppcbox" value="Wpp"> </br>
	   </label> </br> 
			
	   <label> Qp
		   <input type="checkbox" id="QPcbox" value="Qp"> </br>
	   </label> </br> 

       <label> 
        <input type="radio" name="group1" value="Slow">Slow </br>
        <input type="radio" name="group1" value="Very Slow"> Very Slow </br>
        <input type="radio" name="group1" value="Fast"> Fast </br>
       </label>
			
	   <label> Audio Codec
	    <select id="selectAudioCodec"> </br>
		    <option value="0">mp3</option> 
			<option value="1" selected>wmv</option>
			<option value="2">pcm</option>
			<option value="3">aac</option>
		</select> 
	   </label> </br> </br>
			
			<label> Debit Audio
		        <input type="range" id="debitAudio" value="15" max="300" min="1" step="1"> 
			</label> </br> </br>
			
		
			<input type="submit" name="BeginConversionButton" value="BeginConversion"> </br>     
        @*<p><button type="button" onclick="DoSomething" class="btn btn-primary btn-lg">Begin Conversion &raquo;</button></p>
        </div>*@
    </form> 


@{
    if (IsPost) {
        bool _isWpp = Request.Form["isWpp"].AsBool();
        x265Com.ScriptCS.ConversionInfo _ConversionInfo = new x265Com.ScriptCS.ConversionInfo()
        {
            isWpp = _isWpp
        };

        //string contactname = Request.Form["contactname"];
        //int employeecount = Request.Form["employees"].AsInt();

        @*<text>
          You entered: <br />
          isWpp: @isWpp <br />
          Contact Name: @contactname <br />
          Employee Count: @employeecount <br />
        </text>*@
    }
}

