@{
    ViewBag.Title = "Monitor";
}

<link rel="stylesheet" type="text/css" href="~/Content/Watchfolder.css" />

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<h3>@ViewBag.Message</h3>



